<section class="article">
    <h2 class="article_header">article</h2>
    <hr class="columns_line">
    <div>
        <h5 class="article_header_little">title h3</h5>
        <p class="article_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore ea eaque
            explicabo natus nihil porro ullam.
            Aliquid debitis deserunt dolore ducimus earum eligendi et ex exercitationem expedita
            facilis fugit illo laborum nesciunt odio officia omnis perferendis possimus quod recusandae,
            repudiandae, sequi similique velit. <span class="article_text_bold">Amet aspernatur</span> dolorem esse, exercitationem
            explicabo, harum ipsum laborum laudantium minus modi nisi repellendus tempora
            voluptate? Ab placeat, reprehenderit! Ab aliquid aspernatur, consequatur deserunt
            distinctio doloribus eos, explicabo illo, molestiae <a href="#">mollitia natus nobisa</a> perspiciatis quaerat
            quo sint tempore ullam vitae.</p>
    </div>
    <div>
        <h5 class="article_header_little">title h3</h5>
        <p class="article_text">Aliquam asperiores, <span class="article_text_italic">blanditiis earum ipsam maxime</span> nobis odio optio recusandae
            repellendus reprehenderit rerum saepe sapiente similique, totam voluptas! Autem dolores
            omnis quas sed! Aut beatae consequatur <span class="article_text_underline">dicta est illum incidunt</span> obcaecati officiis placeat,
            quidem, sapiente ullam voluptatum. Id, impedit nesciunt?
            Atque cum cumque, dolores ducimus ea et expedita id illo incidunt, iusto nam non nostrum
            omnis perspiciatis quisquam repellat reprehenderit saepe sequi sint tempore ullam velit.</p>
    </div>
</section>