<section class="columns">
    <h2 class="columns_header">columns</h2>
    <hr class="columns_line">
    <div class="columns_block">
        <div class="columns_block_part">
            <h5 class="columns_header_little">Title lorem ipsum</h5>
            <p class="columns_text">Lorem ipsum dolor sit amet, consectetur <br>
                adipisicing elit. Accusamus aspernatur <br>
                harum id placeat velit. Commodi <br>
                distinctio doloribus dolorum eveniet lure <br>
                modi obcaecati </p>

        </div>
        <div class="columns_block_part">
            <h5 class="columns_header_little">Title lorem ipsum</h5>
            <p class="columns_text">
                Lorem ipsum dolor sit amet, consectetur <br>
                adipisicing elit. Accusamus aspernatur <br>
                harum id placeat velit. Commodi <br>
                distinctio doloribus dolorum eveniet lure <br>
                modi obcaecati optio perferendis sed <br>
                voluptatem. Aut, consectetur, ullam? <br>
                Saepe.
            </p>
        </div>
        <div class="columns_block_part">
            <h5 class="columns_header_little">Title lorem ipsum</h5>
            <p class="columns_text">Lorem ipsum dolor sit amet, consectetur <br>
                adipisicing elit. Accusamus aspernatur <br>
                harum id placeat velit. Commodi <br>
                distinctio doloribus dolorum eveniet lure <br>
                modi obcaecati optio perferendis sed <br>
                voluptatem.</p>
        </div>
    </div>
    <div class="columns_block">
        <div class="columns_block_part">
            <h5 class="columns_header_little">Title lorem ipsum</h5>
            <p class="columns_text">
                Lorem ipsum dolor sit amet, consectetur <br>
                adipisicing elit. Accusamus aspernatur <br>
                harum id placeat velit. Commodi <br>
                distinctio doloribus dolorum eveniet iure <br>
                modi obcaecati optio perferendis sed <br>
                voluptatem. Aut, consectetur, ullam? <br>
                Saepe.
            </p>
        </div>
        <div class="columns_block_part">
            <h5 class="columns_header_little">Title lorem ipsum</h5>
            <p class="columns_text">Lorem ipsum dolor sit amet, consectetur <br>
                adipisicing elit. Accusamus aspernatur <br>
                harum id placeat velit.</p>
        </div>
        <div class="columns_block_part">
            <h5 class="columns_header_little">Title lorem ipsum</h5>
            <p class="columns_text">
                Lorem ipsum dolor sit amet, consectetur <br>
                adipisicing elit. Accusamus aspernatur <br>
                harum id placeat velit. Commodi <br>
                distinctio doloribus dolorum eveniet iure <br>
                modi obcaecati optio perferendis sed <br>
                voluptatem. Aut, consectetur, ullam? <br>
                Saepe.
            </p>
        </div>
    </div>
</section>