<section class="header">
    <div class="header_nav">
        <div class="header_nav_left">
            <h3 class="header_nav_left_header">Facility test</h3>
        </div>
        <div class="header_nav_right">
            <ul class="active">
                <li><a href="#">full slider</a></li>
                <li><a href="#">mini slider</a></li>
                <li><a href="#">columns</a></li>
                <li><a href="#">article</a></li>
                <li><a href="#">map</a></li>
            </ul>
            <a class="header_nav_button_burger" href="#">&#9776;</a>
        </div>
    </div>


    <div id="block-for-slider">
        <div class="text">
            <h1 class="slide_header">full slider</h1>
            <div class="slide_text_block">
                <p class="slide_text">
                    Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Alias at consectetur cumque <br>
                    dignissimos,dolorem doloremque dolores <br>
                    eaque incidunt itaque libero maiores, minima <br>
                    minus necessitatibus nesciunt nostrum <br>
                    pariatur, quidem vero vitae.
                </p>
            </div>
            <a href="#" class="slide_button fade">popup</a>
        </div>
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="mini_slide"><img src="../img/slider3.jpg" alt="1" class="slide-img"></li>
                <li class="mini_slide"><img src="../img/slider2.jpg" alt="2" class="slide-img"></li>
                <li class="mini_slide"><img src="../img/slider.jpg" alt="3" class="slide-img"></li>
            </ul>
            <div id="prev-next-btns">
                <div id="prev-btn" class="arrow_white"></div>
                <div id="next-btn" class="arrow_white arrow_transform"></div>
            </div>

            <ul id="nav-btns" style="z-index: 1">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
    </div>
    <div class="slide_darker"></div>
</section>