<section class="mini_slider">
    <div>
        <h2 class="mini_slider_header">mini slider</h2>
        <hr class="columns_line">
    </div>

    <div class="">
        <div class="carousel shadow">
            <!--<div class="carousel-button-left"><a href="#"></a></div>
            <div class="carousel-button-right"><a href="#"></a></div> -->
            <div class="carousel-wrapper">
                <div class="carousel-items">
                    <div class="carousel-block">
                        <img src="../img/slidermini.jpg" alt="slide" />
                    </div>
                    <div class="carousel-block">
                        <img src="../img/slidermini2.jpg" alt="slide" />
                    </div>
                    <div class="carousel-block">
                        <img src="../img/slidermini3.jpg" alt="slide" />
                    </div>
                    <div class="carousel-block">
                        <img src="../img/slidermini.jpg"" alt="slide" />
                    </div>
                    <div class="carousel-block">
                        <img src="../img/slidermini2.jpg" alt="slide" />
                    </div>
                    <div class="carousel-block">
                        <img src="../img/slidermini3.jpg" alt="slide" />
                    </div>
                </div>
            </div>
            <div class="carousel-button-left"><a href="#"></a></div>
            <div class="carousel-button-right"><a href="#"></a></div>
        </div>
    </div>
</section>