.article {
  padding-top: 30px;
  width: 788px;
  margin: auto;
  & > div:nth-child(3) {
    margin-top: 70px;
  }
  &_header_little{
    font-family: "GothamProBold";
    font-size: 16px;
    color: #646464;
    text-transform: uppercase;
    @media screen and (max-width : 425px) {
      font-size: 36px;
    }
  }
  &_text {
    font-family: "GothamProRegular";
    font-size: 16px;
    line-height: 28px;
    @media screen and (max-width : 425px) {
      font-size: 36px;
      line-height: 48px;
    }
    & > a:hover {
      color: #545ad8;
    }
    &_bold {
      font-family: "GothamProBold";
    }
    &_italic {
      font-family: "GothamProItalic";
    }
    &_underline {
      border-bottom: 1px solid #bcbcbc;
    }
  }
}