@import "../../bower_components/normalize.css/normalize.css";

/*
* Custom
*/
@import "partials/header";
@import "partials/mini_slider";
@import "partials/columns";
@import "partials/article";
@import "partials/footer";
@font-face {
	font-family: "GothamProRegular";
	src: url("../fonts/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProRegular.woff") format("woff"),
	url("../fonts/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProBold";
	src: url("../fonts/GothamProBold.eot");
	src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBold.woff") format("woff"),
	url("../fonts/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProBlack";
	src: url("../fonts/GothamProBlack.eot");
	src: url("../fonts/GothamProBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBlack.woff") format("woff"),
	url("../fonts/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProItalic";
	src: url("../fonts/GothamProItalic.eot");
	src: url("../fonts/GothamProItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProItalic.woff") format("woff"),
	url("../fonts/GothamProItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProMedium.woff") format("woff"),
	url("../fonts/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProLight";
	src: url("../fonts/GothamProLight.eot");
	src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProMediumItalic";
	src: url("../fonts/GothamProMediumItalic.eot");
	src: url("../fonts/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProMediumItalic.woff") format("woff"),
	url("../fonts/GothamProMediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProLightItalic";
	src: url("../fonts/GothamProLightItalic.eot");
	src: url("../fonts/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLightItalic.woff") format("woff"),
	url("../fonts/GothamProLightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProBoldItalic";
	src: url("../fonts/GothamProBoldItalic.eot");
	src: url("../fonts/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBoldItalic.woff") format("woff"),
	url("../fonts/GothamProBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProBlackItalic";
	src: url("../fonts/GothamProBlackItalic.eot");
	src: url("../fonts/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBlackItalic.woff") format("woff"),
	url("../fonts/GothamProBlackItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

#container {
	width: 1280px;
	margin: auto;
	@media screen and (max-width : 1024px) {
		width: 1024px;
		margin-left: -10px;
	}
}

.mini_slider_header, .columns_header, .article_header {
	text-transform: uppercase;
	font-size: 24px;
	font-family: "GothamProBold";
	text-align: center;
	color: #646464;
	line-height: 0;
	@media screen and (max-width : 425px) {
		font-size: 44px;
	}
}

* {
	box-sizing: border-box;
}
